/* Estilos para el contenedor principal de la pantalla de carga */
.splash-container {
    /* Ocupa toda la ventana */
    width: 100vw;
    /* Para asegurar que ocupe toda la altura de la vista (dvh para compatibilidad moderna) */
    height: 100vh;
    background-color: 'green',
    
    /* Nota: El 'background-color' se manejará directamente en el JS 
       usando BG_PURPLE para mantener la referencia a './types'. */
    
    /* Centrado con Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para la imagen del logo (rodaja de limón) */
.splash-logo {
    /* Los tamaños originales */
    width: 40vw; 
    height: 40vw;
    
    /* Tamaños máximos para evitar que sea demasiado grande en pantallas amplias */
    max-width: 200px; 
    max-height: 200px;
}